body {
  padding-top: 60px;
  padding-bottom: 0;
}
.sidebar-nav {
  padding: 9px 0;
}

.header{
  margin: 10px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.btn-link-bootstrap{
  padding-bottom: 2px; 
  padding-top: 2px; 
  margin-left: 10px;
}

.bg-white{
  background-color: #FFF;
}

.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.tree-span{
  margin-right: 20px;
  display: inline-block !important;  
  width: auto !important;
}

.index-graph, .graph-wrap {
  background: none repeat scroll 0 0 #EBEBEB;
  border: 1px solid #BBBBBB;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: visible;
  padding: 3px;
  text-align: center;
  margin-bottom: 20px;
}

.chart-block {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px 4px 4px 4px;
  padding-bottom: 10px;
}

.jqplot-target {
  color: #333333;
  height: 340px;
  margin: 20px 20px 0;
  width: 92%;
  position: relative;
}

.footer {
  background-color:#802c59;background-image:-moz-linear-gradient(top, #862e5e, #772953);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#862e5e), to(#772953));background-image:-webkit-linear-gradient(top, #862e5e, #772953);background-image:-o-linear-gradient(top, #862e5e, #772953);background-image:linear-gradient(to bottom, #862e5e, #772953);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff862e5e', endColorstr='#ff772953', GradientType=0);border-color:#642246;
  margin-top: 0;
  padding: 30px 0;
  text-align: center;
}

.footer p{
  color: #FFF;
}

/**CLE EDITOR**/
.cleditorMain {
  border:1px solid #999;
  padding:0 1px 1px;
  background-color:white
}
.cleditorMain iframe {
  border:none;
  margin:0;
  padding:0
}
.cleditorMain textarea {
  border:none;
  margin:0;
  padding:0;
  overflow-y:scroll;
  font:10pt Arial, Verdana;
  resize:none;
  outline:none /* webkit grip focus */
}
.cleditorToolbar {
  background: url('../img/toolbar.gif') repeat
}
.cleditorGroup {
  float:left;
  height:26px
}
.cleditorButton {
  float:left;
  width:24px;
  height:24px;
  margin:1px 0 1px 0;
  background: url('../img/buttons.gif')
}
.cleditorDisabled {
  opacity:0.3;
  filter:alpha(opacity=30)
}
.cleditorDivider {
  float:left;
  width:1px;
  height:23px;
  margin:1px 0 1px 0;
  background:#CCC
}
.cleditorPopup {
  border:solid 1px #999;
  background-color:white;
  position:absolute;
  font:10pt Arial, Verdana;
  cursor:default;
  z-index:10000
}
.cleditorList div {
  padding:2px 4px 2px 4px
}
.cleditorList p, .cleditorList h1, .cleditorList h2, .cleditorList h3, .cleditorList h4, .cleditorList h5, .cleditorList h6, .cleditorList font {
  padding:0;
  margin:0;
  background-color:Transparent
}
.cleditorColor {
  width:150px;
  padding:1px 0 0 1px
}
.cleditorColor div {
  float:left;
  width:14px;
  height:14px;
  margin:0 1px 1px 0
}
.cleditorPrompt {
  background-color:#F6F7F9;
  padding:4px;
  font-size:8.5pt
}
.cleditorPrompt input, .cleditorPrompt textarea {
  font:8.5pt Arial, Verdana;
}
.cleditorMsg {
  background-color:#FDFCEE;
  width:150px;
  padding:4px;
  font-size:8.5pt
}
